[submodule "themes/hugo-theme-m10c"]
    path = themes/hugo-theme-m10c
    url = https://github.com/vaga/hugo-theme-m10c.git
    branch = main
[submodule "themes/hermit-v2"]
	path = themes/hermit-v2
	url = https://github.com/1bl4z3r/hermit-V2
	branch = main
[submodule "themes/hello-friend-ng"]
	path = themes/hello-friend-ng
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
[submodule "themes/hugo-blog-awesome"]
	path = themes/hugo-blog-awesome
	url = https://github.com/hugo-sid/hugo-blog-awesome.git
	branch = main
